# Node.js dependencies
node_modules/
package-lock.json

# Auth info (evita vazar credenciais)
auth_info_baileys/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build outputs
dist/
*.tsbuildinfo
